@font-face {
  font-family: 'Pilates-City';
  src:  url('Pilates-City.eot?g6im7k');
  src:  url('Pilates-City.eot?g6im7k#iefix') format('embedded-opentype'),
    url('Pilates-City.ttf?g6im7k') format('truetype'),
    url('Pilates-City.woff?g6im7k') format('woff'),
    url('Pilates-City.svg?g6im7k#Pilates-City') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pc {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Pilates-City' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pc-chevron-down:before {
  content: "\e901";
}
.pc-user:before {
  content: "\e900";
}
.pc-envelope:before {
  content: "\e902";
}
.pc-smartphone:before {
  content: "\e903";
}
.pc-instagram:before {
  content: "\e904";
}
.pc-facebook:before {
  content: "\e905";
}
.pc-arrow-down:before {
  content: "\e906";
}
.pc-arrows:before {
  content: "\e907";
}
.pc-check-circle:before {
  content: "\e908";
}
.pc-location-pin:before {
  content: "\e909";
}

.pc-smartphone{
  transform: rotate(20deg);
  display: inline-block;
}