h1.page-header-text{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 0px !important;
    background-repeat: repeat;
    background-position-y: -150px;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}