.class-selector{
    background-size: cover;
    padding-bottom: 300px;
    margin-bottom: -300px;
    background-size: cover;
}

.class-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.class-container .class{
    padding: 25px 30px;
    margin: 0px 15px;
    width: fit-content;
    text-align: center;
    font-weight: light;
    font-size: 13px;
    font-family: 'Muli';
    transform: all 0.25s ease-out;
    color: var(--wp--preset--color--primary-dark);
    text-transform: uppercase;
    box-shadow: 0px 3px 8px #8b86882c;
}

.class-container .class:first-child{
    margin-left: 0px;
}

.class-container .class:last-child{
    margin-right: 0px;
}

.class-container .class:hover{
    cursor: pointer;
    box-shadow: inset 0px 1px 5px #635D5F2C;
}

.class-container .class.active{
    box-shadow: inset 0px 1px 5px #635D5F2C;
}

.class-content-container{
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

.class-content-container .class-content{
    display: none;
}

.class-content-container .class-content.active{
    display: flex;
}

.class-selector .class-image{
    width: 100%;
    height: auto;
}

.class-selector .class-image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 1vw;
    width: 55vw;
}