@keyframes arrow{
    0%{
      bottom: 60px;
      color: rgba(255, 255, 255, 0);
    }
    50%{
      color: rgba(255, 255, 255, 1);
    }
    100%{
      bottom: 20px;
      color: rgba(255, 255, 255, 0);
    }
}

@keyframes arrowFadeIn{
    0%{
        color: rgba(255, 255, 255, 0);
    }
    50%{
        color: rgba(255, 255, 255, 0);
    }
    100%{
        color: rgba(255, 255, 255, 1);
    }
}