*,
:after,
:before {
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.wp-admin {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body,
html {
  padding: 0 !important;
}

#wrapper{
  font-size: 13px;
}

.container{
  box-sizing: border-box;
}

.row{
  margin: 0px -15px;
}

.text-center{
  text-align: center;
}

@media(max-width: 1090px){
  .row{
    margin: 0px;
  }
}

/* Removes body margin */
body {
  margin: 0;
}

/* Needed for mobile sidebar  */
.content-container {
  min-width: 100%;
  position: relative;
}

/* Remove default font family in editor  */
html :where(.editor-styles-wrapper) {
  font-family: unset;
}

/* Autmatically make header flex and fetch width from theme.json */
#header {
  max-width: var(--wp--custom--header--content-size);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  overflow: inherit;
}

.content-holder {
  max-width: var(--wp--custom--content--content-size);
  margin-right: auto;
  margin-left: auto;
}

/* Auto add padding to group block */
.content-holder .wp-block-group,
#editor .wp-block-group {
  padding-top: var(--wp--custom--group--padding-top);
  padding-bottom: var(--wp--custom--group--padding-bottom);
}

/* Removes auto top margin from first block in editor for the heading or paragraph block */
html :where(.editor-styles-wrapper) h1,
html :where(.editor-styles-wrapper) h2,
html :where(.editor-styles-wrapper) h3,
html :where(.editor-styles-wrapper) h4,
html :where(.editor-styles-wrapper) h5,
html :where(.editor-styles-wrapper) h6 {
  margin: unset;
}

/* Removes default padding from group with background */
.wp-block-template-part.has-background {
  padding: 0px !important;
}

/* Add bottom margin at the bottom of every paragraph or heading and remove default top margin */
p {
  margin-bottom: var(--wp--custom--paragraph--margin-bottom);
  margin-block-start: 0px;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--wp--custom--heading--margin-bottom) !important;
  margin-block-start: 0px;
  font-family: 'Muli';
  font-weight: 600;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong{
 font-weight: 900;
}

strong{
 font-weight: 600;
}

/* Define the color and text decoration of the anchors site wide */
a {
  color: var(--wp--preset--color--primary-alt);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover{
  color: black;
}

/* Define margin for every list item in theme.json */
ul li {
  margin-bottom: var(--wp--custom--list-item--margin-bottom);
}

/* Float fix for aligning images to the right in the editor */
.wp-block[data-align="right"] {
  float: right;
}

/* Remove Default Margin from column */
.wp-block-columns {
  margin-bottom: 0px;
}

/* Convert block to full width */
.editor-styles-wrapper .is-root-container .wp-block[data-align="full"],
.alignfull {
  max-width: 100vw !important;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
}

/* Inherit content width from theme.json */
.site-footer {
  max-width: var(--wp--custom--footer--content-size);
  margin-left: auto;
  margin-right: auto;
}

/* These classes are used by some plugins, so in case we need them they are here to fall back on. */
small,
.small {
  font-size: 80%;
}
big,
.big {
  font-size: 120%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

.color-gray{
  color: var(--wp--preset--color--primary-dark);
}

[aria-label*="gereedschappen"]{
  left: 165px !important;
  position: relative;
} 

/* --- Responsive */

@media (max-width: 1090px){
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-size: 3.2rem;
  }
  h4{
    font-size: 2.2rem;
  }
  h5{
    font-size: 1.5rem;
  }
  h6{
    font-size: 1.2rem;
  }
}

@media(max-width: 576px){
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 4rem;
  }
  h3{
    font-size: 3.2rem;
  }
  h4{
    font-size: 2.2rem;
  }
  h5{
    font-size: 1.5rem;
  }
  h6{
    font-size: 1.2rem;
  }
}

@media(max-width: 480px){
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3.2rem;
  }
  h3{
    font-size: 2.2rem;
  }
  h4{
    font-size: 1.5rem;
  }
  h5{
    font-size: 1.2rem;
  }
  h6{
    font-size: 1rem;
  }
}