.package-selector{
    outline: 3px solid white;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}

/* --- Packages */

.package{
    float: left;
    margin: 0px 5px;
    padding: 17px 22px;
    color: var(--wp--preset--color--primary-dark);
    transition: all 0.25s ease-out;
}

.package:hover{
    box-shadow: inset 2px 2px 6px #635D5F2E;
}

.package.package-inactive{
    filter: saturate(0%);
    opacity: 50%;
}

.package .package-name{
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin-bottom: 0px !important;
    color: black;
}

.package .package-pricing{
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.package-pricing .package-classes{
    font-weight: bold;
}

.package-pricing .package-price-divider{
    color: #E7E5E6;
    font-size: 40px;
    line-height: 40px;
    font-weight: lighter;
    margin: 0px 12px;
}

.package-pricing .package-price{
    color: var(--wp--preset--color--primary);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 29px;
}

.package .package-usps{
    margin-bottom: 1.5rem;
}

.package-usps .package-usp{
    font-size: 13px;
    font-weight: normal;
    line-height: 13px;
    margin-bottom: 0.75rem;
    position: relative;
}

.package-usp.special-usp{
    color: var(--wp--preset--color--primary);
}

.package-usps .package-usp:last-child{
    margin-bottom: 0px;
}

.package-usp i{
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 20px;
}

.package-usp p{
    margin-left: 1.5rem;
    margin-bottom: 0px;
    line-height: 18px;
}

.package .btn{
    float: left;
    margin-right: 1.5rem;
}

.package .package-notice{
    float: left;
    font-size: 13px;
    color: var(--wp--preset--color--primary);
}

.package-slider .slick-list{
    margin: 0px -100px;
    padding: 0px 100px;
}

/* -- Responsive */

@media(max-width: 1090px){
    .credit-slider-wrapper{
        width: 90%;
    }
}

@media(max-width: 986px){
    .package-slider .slick-list{
        padding: 0px 50px;
        margin: 0px;
    }
    .slick-prev{
        left: 0px;
    }
    .slick-next{
        right: 0px;
    }
    .slick-arrow{
        padding: 0px 10px;
    }
    .packages{
        margin: 0px;
    }
}

@media(max-width: 768px){
    .category-container{
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px 15px;
        box-sizing: border-box;
    }

    .category-container .category{
        box-sizing: border-box;
        width: 45%;
        margin: 0px;
        margin-bottom: 2rem;
    }

    .package .package-name{
        height: fit-content !important;
    }

    .credit-slider-wrapper{
        width: 80%;
    }
}

@media(max-width: 562px){
    .credit-slider-wrapper{
        width: 70%;
    }
}

@media(max-width: 420px){
    .category-container .category{
        width: 100%;
        margin-bottom: 1rem;
    }

    .package .package-notice{
        margin-top: 1rem;
    }
}