/*
Theme Name: Pilates city
Theme URI: https://www.maatwerkonline.nl
Version: 1.0.0
Author: Maatwerk Online
Author URI: https://www.maatwerkonline.nl/contact/
Description: This Theme is designed and developed by Maatwerk Online
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: maatwerkonline
Domain Path: /languages
*/

/*
Register all your vars in the theme.json file of the theme.
You can then receive them with the var() function like this:
    var(--wp--custom--header--content-size);
for a var in the theme.json that is added lik this:
    "custom": {
        "header" : {
            "contentSize": "1240px"
        },
    }
*/

/* Add you own custom font here */
@font-face {
  font-family: Granville;
  src: url("assets/fonts/Granville-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Granville;
  src: url("assets/fonts/Granville-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Granville;
  src: url("assets/fonts/Granville-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url("assets/fonts/Mulish-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url("assets/fonts/Mulish-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url("assets/fonts/Mulish-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url("assets/fonts/Mulish-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url("assets/fonts/Mulish-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.ff-granville{
  font-family: 'Granville';
}

.ff-muli{
  font-family: 'Muli';
}

body {
  font-family: 'Muli';
  background-color: #fff;
}

.editor-styles-wrapper {
  font-family: 'Muli';
}

.content-width-retainer{
  max-width: var(--wp--custom--content--content-size);
  margin: 0 auto;
  padding: 0px 15px;
}

.list-checks{
  list-style: none;
  font-weight: 600;
  padding-left: 25px;
}

.list-checks li{
  margin-bottom: 1rem;
  position: relative;
}

.list-checks li::before{
  content: "\e908";
  font-family: 'Pilates-City';
  display: block;
  position: absolute;
  left: -25px;
  top: 2px;
  font-weight: lighter;
}

a.link{
  color: var(--wp--preset--color--primary);
  border-color: var(--wp--preset--color--primary);
  transition: all 0.25s ease-out;
  text-decoration: underline;
}

a.link:hover{
  color: black;
  border-color: black;
  cursor: pointer;
}

a.link-black{
  color: var(--wp--preset--color--primary-dark);
  border-color: var(--wp--preset--color--primary-dark);
  transition: all 0.25s ease-out;
}

a.link-black:hover{
  color: var(--wp--preset--color--primary);
  border-color: var(--wp--preset--color--primary);
}

.link-primary{
  position: relative;
  color: var(--wp--preset--color--primary-alt);
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 13px;
  border-bottom: 1px solid var(--wp--preset--color--primary);
}

.link-primary::before{
  display: block;
  font-family: 'pilates-city';
  content: '\e907';
  position: absolute;
  top: 0px;
  left: -18px;
  font-size: 7px;
  top: 7.5px;
  color: var(--wp--preset--color--primary);
  transition: 0.2s all;
}

.link-primary:hover{
  color: black;
  border-color: black;
}

.link-primary:hover:before{
  color: black;
  left: -14px;
}

.btn{
  display: inline-block;
  width: fit-content;
  position: relative;
  padding: 22px 20px 22px 35px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 36px;
}

.btn::before{
  display: block;
  font-family: 'pilates-city';
  content: '\e907';
  position: absolute;
  left: 16px;
  font-size: 7px;
  top: calc(50% - 3px);
  transition: 0.2s all;
}

.btn:hover::before{
  left: 22px;
}

.btn::after{
  display: block;
  content: '';
  width: calc(100% - 55px);
  height: 0.5px;
  position: absolute;
  bottom: 21px;
  left: 35px;
  transition: all 0.25s ease-out;
}

.btn-smaller{
  padding: 14px 20px;
  padding-left: 35px;
  line-height: 16px;
}

.btn-smaller::after{
  bottom: 13px;
}

.btn-smaller::before{
  top: calc(50% - 7px);
}

.btn-primary{
  color: white;
  background-color: var(--wp--preset--color--primary);
  border: 1px solid var(--wp--preset--color--primary-alt);
}

.btn-primary::before{
  color: var(--wp--preset--color--primary-alt);
}

.btn-primary:hover{
  color: white;
  background-color: var(--wp--preset--color--primary-alt);
}

.btn-primary:hover::before{
  color: white;
}

.btn-primary:hover::after{
  background-color: white;
}

.btn-primary::after{
  background-color: var(--wp--preset--color--primary-alt);
}

.btn-secondary{
  color: var(--wp--preset--color--primary-dark);
  background-color: white;
  border: 1px solid var(--wp--preset--color--secondary-dark);
}

.btn-secondary::before{
  color: var(--wp--preset--color--secondary-dark);
}

.btn-secondary:hover{
  color: black;
}

.btn-secondary:hover:before{
  color: black;
}

.btn-secondary::after{
  background-color: var(--wp--preset--color--secondary-dark);
}

.btn-secondary:hover::after{
  background-color: var(--wp--preset--color--primary-dark);
}

.btn-tertiary{
  background-color: var(--wp--preset--color--primary-alt);
  color: white;
  border: 1px solid var(--wp--preset--color--primary);
}

.btn-tertiary:hover{
  color: var(--wp--preset--color--primary);
}

.btn-tertiary::before{
  color: var(--wp--preset--color--primary);
}

.btn-tertiary::after{
  background-color: var(--wp--preset--color--primary);
}
/* --- Header */

.admin-bar .header-container{
  top: 32px;
}

#header{
  max-width: var(--wp--custom--header--content-size);
  color: black;
  box-sizing: border-box;
}

#header .navbar {
  width: 100%;
  position: relative;
}

#sidebar-wrapper{
  z-index: 2;
}

#menu-footer-menu #alt-menu{
  display: none;
}

#default-menu #alt-menu{
  position: absolute;
  top: 0px;
  right: 15px;
}

#alt-menu .book ul{
  max-height: 0;
  height: auto;
  list-style: none;
  padding-left: 0px;
  transition: all 0.25s ease-out;
  overflow: hidden;
}

#alt-menu .book:hover ul{
  max-height: 500px;
}

#alt-menu .book:hover i::before{
  top: calc(50% - 5px);
  transform: rotate(90deg);
}


#alt-menu .book ul li{
  margin-bottom: 0px;
}

#alt-menu .book ul li a{
  padding: 10px 0px;
  color: black;
}

.home .top-header #alt-menu .book ul li a{
  color: white;
}

#sidebar-wrapper #alt-menu .book{
  color: white;
}

#alt-menu .book ul li a:hover,
.home .top-header #alt-menu .book ul li a:hover{
  color: var(--wp--preset--color--primary);
}


#alt-menu .book ul li:first-child{
  margin-top: 0.5rem;
}

#sidebar-wrapper .navbar-nav .nav-link {
  width: 100%;
  color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
}

#sidebar-wrapper #alt-menu .book, #sidebar-wrapper #alt-menu .login{
  color: white;
  border-color: white;
}

#wrapper {
  display: flex;
  overflow-x: hidden;
}

#sidebar-wrapper .navbar-nav .nav-link:hover,
#sidebar-wrapper .navbar-nav .nav-link:active {
  color: var(--wp--preset--color--primary);
}

#sidebar-wrapper .navbar-nav .my-account .nav-link,
#sidebar-wrapper .navbar-nav .account .nav-link {
  background: #283137;
  border-bottom: 1px solid #212b2f;
  padding-top: 18px;
  padding-bottom: 18px;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link {
  padding-top: 22px;
  padding-bottom: 22px;
}

#sidebar-wrapper {
  background-color: black;
  width: 240px;
  position: fixed;
  left: 0px;
  margin-left: 0rem;
  transition: 0.25s all ease-out;
  top: 0px;
  z-index: 99;
  transition: 0.25s ease-out;
  min-height: 100vh;
  left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.toggled #sidebar-wrapper {
  margin-left: 15rem;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .nav {
  width: 15rem;
  overflow: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  position: relative;
  z-index: 1;
}

#wrapper.toggled #page-content-wrapper:before {
  content: "";
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}

.navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

#header .navbar-nav li {
  margin: 0;
}

#header .navbar-nav li:last-child {
  padding-right: 0;
}

#header .navbar-nav li .nav-link {
  font-weight: 100;
  color: currentColor;
  font-size: var(--wp--custom--header--menu--font-size);
  text-transform: var(--wp--custom--header--menu--text-transform);
}

#header .navbar-nav li .nav-link:hover {
  color: var(--wp--preset--color--primary);
  cursor: pointer;
}

.header-bg-padding{
  height: 60px;
  width: 100%;
  background-color: black;
}

.header-container{
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.25s ease-out;
  border-bottom: none;
  z-index: 98;
}

.top-header.header-container{
  background-color: white;
}

.header-container::before{
  display: block;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(20px) brightness(110%);
  backdrop-filter: blur(20px) brightness(110%);
  background-color: rgba(255,255,255,0.5);
  z-index: -1;
}

.home .top-header.header-container{
  background-color: black;
}

.home .top-header.header-container::before{
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: rgba(255,255,255,0);
}

.home .top-header .custom-logo-link img{
  filter: brightness(100%);
}

.home .top-header .menu-item-has-children ul{
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: rgba(255,255,255,0);
}

.home .top-header #header #alt-menu .book, .home .top-header #header #alt-menu .login{
  color: white;
  border-color: white;
}

.home .top-header #header{
  color: white;
}

.home .top-header .hamburger-inner,
.home .top-header .hamburger-inner:after,
.home .top-header .hamburger-inner:before {
  background-color: white;
}

.custom-logo-link{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.custom-logo-link img{
  padding-top: 1px;
  height: 17.5px;
  width: auto;
  display: block;
  filter: brightness(0%);
  transition: 0.5s ease-out all;
}

.menu-item-has-children{
  position: relative;
}

.menu-item-has-children ul{
  opacity: 0;
  top: 80%;
  visibility: hidden;
  list-style: none;
  padding-left: 0px;
  width: fit-content;
  position: absolute;
  left: 0px;
  transition: 0.25s all ease-out;
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: rgba(255,255,255,0.5);
}

.menu-item-has-children:hover ul{
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar-brand{
  float: left;
  margin-right: 20px;
  transition: all 0.25s ease-out;
  opacity: 100%;
  height: 60px;
  transition: all 0.25s ease-out, margin 0s;
}

#default-menu{
  float: left;
  text-transform: uppercase;
}

.navbar-nav li a{
  margin: 0;
  padding: 20px 20px;
  display: block;
  transition: all 0.25s ease-out;
  text-decoration: none;
}

#sidebar-wrapper .navbar-nav li a{
  color: white;
}

.navbar-nav li{
  position: relative;
}

.nav-link.dropdown-toggle{
  padding-right: 38px;
}

.menu-item-has-children::after{
  display: block;
  content: '\e901';
  position: absolute;
  right: 22px;
  font-family: 'Pilates-City';
  transition: all 0.25s ease-out;
  top: calc(50% - 2px);
  font-size: 5px;
}

.dropdown-menu{
  width: 100%;
}

.dropdown-menu .dropdown-item a{
  padding: 15px 20px;
}

#alt-menu{
  float: right;
  font-size: 15px;
}

#alt-menu .book, #alt-menu .login{
  display: block;
  color: black;
  float: left;
  font-weight: 100;
  text-transform: uppercase;
  padding: 6px 20px;
  margin: 13px 0px;
  margin-left: 15px;
  border: 1px solid black;
  transition: all 0.25s ease-out;
  text-decoration: none;
}

#alt-menu .book{
  margin-left: 0px;
  position: relative;
  padding-left: 35px;
}

#alt-menu .book::before{
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(20px) brightness(110%);
  backdrop-filter: blur(20px) brightness(110%);
  background-color: rgba(255,255,255,0.5);
  z-index: -1;
  transition: 0.25s ease-out all;
}

#sidebar-wrapper #alt-menu .book::before{
  display: none;
}

#alt-menu .book:hover::before{
  visibility: visible;
  opacity: 1;
}

.home .top-header #alt-menu .book::before{
  background-color: black;
  color: white;
}

#alt-menu .book i{
  font-size: 7px;
  position: absolute;
  display: block;
  transition: all 0.25s ease-out;
  height: 32px;
  top: 0px;
  left: 20px;
}

#alt-menu .book i::before{
  position: relative;
  display: block;
  top: calc(50%);
  transform: translateY(-50%);
  transition: all 0.25s ease-out;
}

#alt-menu .book i, #alt-menu .login i{
  margin-right: 7px;
  width: 8px;
}

#default-menu #alt-menu .login{
  padding-left: 22px;
}

#alt-menu .login i{
  font-size: 12px;
  left: -10px;
}

#alt-menu .login:hover, #alt-menu .book:hover{
  color: var(--wp--preset--color--primary) !important;
  border-color: var(--wp--preset--color--primary) !important;
}

/* --- Footer */

.footer-container{
  max-width: var(--wp--custom--footer--content-size);
  margin: 0 auto;
}

.footer-banner{
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.footer-banner img{
  display: block;
  margin: 0 auto;
  height: 88px;
  width: auto;
}

.footer-banner::before, .footer-banner::after{
  display: block;
  position: absolute;
  content: '';
  background-color: var(--wp--preset--color--primary-dark);
  height: 1px;
  width: 310px;
  top: 65px;
}

.footer-banner::before{
  left: 0px;
}

.footer-banner::after{
  right: 0px;
}

.row.footer-contact{
  padding: 42px 0px;
  border-bottom: 1px solid var(--wp--preset--color--primary-dark);
  font-size: 14px;
  color: var(--wp--preset--color--primary-dark);
}

.row.footer-links{
  padding: 42px 0px;
  color: var(--wp--preset--color--primary-dark);
}

.footer-contact p{
  margin-bottom: 0px;
  line-height: 20px;
}

.footer-contact .footer-contact-title{
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer-contact .footer-contact-links a{
 text-decoration: none;
 color: var(--wp--preset--color--primary-dark);
}

.footer-contact .footer-contact-links a i{
  margin-right: 10px;
  position: relative;
  top: 0.5px;
}

.footer-contact .footer-contact-links a:hover{
  color: var(--wp--preset--color--primary);
}

.footer-contact .footer-go-to{
  margin-top: 1.5rem;
  text-decoration: underline;
}

.footer-links .footer-links-title{
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.footer-links-container{
  display: flex;
  flex-wrap: wrap;
}

.footer-links .navbar-nav li{
  width: 25%;
}

.footer-links .navbar-nav li a{
  text-decoration: underline;
  display: block;
  float: left;
  color: black;
  width: fit-content;
  padding: 0px;
  padding-left: 20px;
  position: relative;
  color: var(--wp--preset--color--primary-dark);
  font-weight: light;
}
.footer-links .navbar-nav li a::before{
  display: block;
  font-family: 'pilates-city';
  content: '\e907';
  position: absolute;
  left: 1px;
  font-size: 7px;
  top: 5px;
  transition: all 0.25s ease-out;
}

.footer-links .navbar-nav li a:hover{
  color: var(--wp--preset--color--primary);
}

.footer-links .navbar-nav li a:hover::before{
  color: var(--wp--preset--color--primary);
  left: 5px;
}

.footer-socials-container a{
  color: var(--wp--preset--color--primary-dark);
  text-decoration: none;
  font-size: 40px;
  display: block;
  float: left;
}

.footer-socials-container a:hover{
  color: var(--wp--preset--color--primary);
}

.footer-socials-container a{
  font-size: 30px;
  display: block;
  float: left;
  margin-right: 8px;
}

.footer-socials-container a:last-child{
  margin-right: 0px;
}

.footer-bottom{
  color: var(--wp--preset--color--primary-dark);
  padding-bottom: 20px;
  font-size: 14px;
}

.footer-bottom .widget{
  width: 100%;
  text-align: center;
}

.footer-bottom .widget .custom-html-widget{
  display: flex;
  justify-content: center;
}

.footer-bottom .footer-bottom-item{
  width: fit-content;
}

/* --- Responsiveness */

#sidebar-wrapper{
  background-color: black;
  width: 240px;
  font-size: 16px;
}


#menu-toggle{
  float: right;
  height: 60px;
  width: 40px;
  position: relative;
  padding-right: 0rem;
  transition: padding-right 0.25s ease-out;
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 20px 0px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  transform: scale(0.6);
}

.hamburger-box {
  display: block;
  width: 40px;
  height: 24px;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: black;
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
  content: "";
}

.hamburger-inner:before {
  top: -10px;
}

#menu-toggle.active .hamburger .hamburger-inner:before {
  transform: translate3d(-8px,0,0) rotate(-45deg) scaleX(.7);
}

.hamburger-inner:after {
  bottom: -10px;
}

#menu-toggle.active .hamburger .hamburger-inner:after {
  transform: translate3d(-8px,0,0) rotate(45deg) scaleX(.7);
}

.toggled #sidebar-wrapper{
  border-right: 1px solid white;
}

#sidebar-wrapper .navbar-nav{
  position: relative;
}

#sidebar-wrapper .navbar-nav li a{
  width: calc(100% - 30px);
}

#sidebar-wrapper .navbar-nav li{
  width: 100%;
}

#sidebar-wrapper .menu-item-has-children ul{
  max-height: 0px;
  visibility: visible;
  opacity: 1;
  position: static;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

#sidebar-wrapper .menu-item-has-children:hover ul{
  max-height: 500px;
}

#sidebar-wrapper .menu-item-has-children ul a{
  padding-left: 30px !important;
}

#sidebar-wrapper .menu-item-has-children::after{
  top: 17px;
  right: 20px;
  color: white;
  transform: rotate(-90deg);
}

#sidebar-wrapper .menu-item-has-children:hover::after{
  transform: rotate(0deg);
}

#sidebar-wrapper #alt-menu{
  padding: 15px 15px;
  padding-bottom: 0px;
  margin-bottom: 1rem;
}

#sidebar-wrapper #alt-menu .book, #sidebar-wrapper #alt-menu .login{
  margin: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#sidebar-wrapper #alt-menu .login{
  margin-bottom: 0px;
}

.navbar .container{
  transition: all 0.25s ease-out;
  overflow: visible;
}

.toggled .navbar .container{
  padding-left: 17.5rem;
}

/* --- Slider */
.slick-arrow{
  border: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.85);
  height: 100%;
  position: absolute;
  top: 0px;
  color: var(--wp--preset--color--primary-dark);
  font-size: 20px;
  padding: 0px 35px;
  z-index: 1;
  display: block;
  transition: 0.25s all ease-out;
}
.slick-arrow:hover{
  background-color: rgba(255, 255, 255, 0.85) !important;
}
.slick-arrow.slick-disabled{
  color: var(--wp--preset--color--secondary-dark);
}
.slick-arrow.slick-disabled:hover{
  cursor: initial;
  color: var(--wp--preset--color--secondary-dark);
}
.slick-arrow:hover{
  cursor: pointer;
  color: var(--wp--preset--color--primary);
}
.slick-arrow i{
  display: block;
  width: 30px;
}
.slick-prev{
  left: -100px;
}
.slick-prev{
  transform: rotate(180deg);
}
.slick-next{
  right: -100px;
}

.time-table tr td:first-child{
  width: 65%;
}

/* --- Responsive header/ footer*/

@media(max-width: 1090px){
  .footer-banner::before, .footer-banner::after{
    width: 25%;
  }
}

@media(max-width: 992px){
  .footer-banner img{
    width: 40%;
    height: auto;
  }

  .footer-banner::before, .footer-banner::after{
    width: 25%;
  }

  .navbar .container{
    overflow: auto;
  }

  .footer-contact, .footer-links{
    width: 80%;
    margin: 0 auto;
  }

  .footer-contact .col-lg-5:first-child{
    margin-bottom: 15px;
  }

  .footer-contact .footer-contact-links p{
    width: fit-content;
    float: right;
    clear: both;
  }

  .footer-links .col-lg-10{
    margin-bottom: 15px;
  }

  .footer-links .navbar-nav li{
    width: 33%;
    margin: 5px 0px;
  }
}

@media(max-width: 768px){

  .footer-links .navbar-nav li{
    width: 50%;
  }

}

@media(max-width: 576px){
  .footer-bottom .widget .custom-html-widget{
    display: block;
  }

  .footer-bottom .footer-bottom-item{
    width: 100%;
    margin-bottom: 10pxs;
  }

  .footer-bottom span{
    display: none;
  }

  .footer-banner img{
    width: 60%;
    height: auto;
  }

  .footer-banner::before, .footer-banner::after{
    width: 10%;
  }

  .footer-contact .footer-contact-links p{
    width: fit-content;
    float: left;
    clear: both;
  }
  
  .footer-contact, .footer-links{
    width: 60%;
    margin: 0 auto;
  }

  .footer-links{
    width: 100%;
  }

}

@media(max-width: 515px){
  .toggled .navbar-brand{
    margin-right: -175px;
    opacity: 0%;
  }

  .toggled .navbar .container{
    overflow: hidden;
  }
}

@media(max-width: 420px){
  .footer-links .navbar-nav li{
    width: 100%;
  }
  
  .footer-contact{
    width: 100%;
  }
}