.half-banner{
    background-size: contain;
    background-repeat: no-repeat;
}

.half-banner .row{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.half-banner .half-banner-image{
    width: 100%;
    height: auto;
}

.half-banner .full-width .half-banner-image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 15px;
    width: calc(55vw + 20px);
}

.half-banner-overflow{
    padding-bottom: 200px;
    margin-bottom: -200px;
}

@media(max-width: 768px){
    .half-banner .full-width .half-banner-image{
        position: relative;
        height: 350px;
        top: auto;
        right: auto;
        width: 100%;
        left: -15px;
        width: calc(100% + 30px);
    }
}