.banner-block img{
    pointer-events: none;
}

.banner-text-image{
    width: fit-content;
    background-repeat: repeat;
    background-size: cover;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 72px;
}

@media (max-width: 1090px){
    .banner-text-image{
        line-height: 4rem;
    }
}

@media (max-width: 480px){
    .banner-text-image{
        background-size: cover;
        background-position: center !important;
        line-height: 3rem;
    }
}

/* --- Style 1 */

.banner-block.style-1{
    background-color: black;
    color: white;
    height: calc(100vh - 45px);
}

.style-1 .banner-content{
    padding-top: 60px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    z-index: 2;
}

.style-1 .banner-content:after{
    font-family: 'pilates-city';
    display: block;
    content: '\e906';
    color: white;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 60px);
    font-size: 20px;
    animation: arrow 2s ease-in infinite;
}

.style-1 .banner-content-container{
    text-align: right;
}

.banner-text-1, .banner-text-2{
    margin-bottom: 0px;
}

.style-1 .banner-text-1{
    line-height: 62px;
    font-weight: lighter;
    text-transform: uppercase;
}

.style-1 .banner-text-2{
    line-height: 80px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.style-1 .banner-subject-image{
    height: 116%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.style-1 .link-primary:hover{
    color: white;
    border-color: white;
}
  
.style-1 .link-primary:hover:before{
    color: white;
}

/* -- Responsive style 1 */

@media(max-width: 1090px){
    .style-1 .banner-subject-image{
        height: auto;
        width: 150%;
        left: auto;
        right: -30%;
    }
}

@media(max-width: 992px){
    .style-1 .banner-text-1{
        font-size: 50px;
        line-height: 50px;
    }
    .style-1 .banner-text-2{
        font-size: 60px;
        line-height: 55px;
    }
    .style-1 .banner-subject-image{
        width: 165%;
        right: -40%;
    }
}


@media(max-width: 768px){
    .style-1 .banner-subject-image{
        width: 220%;
        right: -60%;
    }
}


@media(max-width: 576px){
    .style-1 .banner-subject-image{
        width: 300%;
        right: -125%;
    }
    .style-1 .banner-text-1{
        font-size: 35px;
        line-height: 35px;
    }
    .style-1 .banner-text-2{
        font-size: 50px;
        line-height: 45px;
    }
}


@media(max-width: 480px){
    .style-1 .banner-subject-image{
        width: 400%;
        right: -180%;
    }
    .style-1 .banner-text-1{
        font-size: 25px;
        line-height: 25px;
    }
    .style-1 .banner-text-2{
        font-size: 30px;
        line-height: 28px;
    }
}


/* --- Style 2*/

.banner-block.style-2{
    background-size: cover;
    background-position: right;
    padding-bottom: 335px;
    overflow: hidden;
}

.style-2 .banner-text-image{
    margin-top: 200px;
    margin-bottom: 125px !important;
    background-position-y: -150px;
}

.style-2 .banner-content-container{
    text-align: right;
    position: relative;
    z-index: 1;
}

.style-2 .banner-content-container:after{
    display: block;
    content: '';
    background-color: black;
    position: absolute;
    width: 495%;
    height: 600px;
    right: -425%;
    top: 35px;
    z-index: -1;
}

.style-2 .banner-text-1, .style-2 .banner-text-2{
    font-weight: lighter;
    text-transform: uppercase;
    padding-right: 90px;
}

.style-2 h4.banner-text-1{
    line-height: 30px;
    margin-bottom: 5px !important;
}

.style-2 .banner-text-2{
    font-size: 62px;
    line-height: 55px;
    color: white;
    margin-bottom: 125px;
}

.style-2 .banner-subject-image{
    position: absolute;
    bottom: -505px;
    right: -380px;
    width: 1700px;
    z-index: 3;
}

.style-2 .link-primary:hover{
    color: white;
    border-color: white;
}
  
.style-2 .link-primary:hover:before{
    color: white;
}

/* -- Responsive style 3 */

@media(max-width: 1090px){
    .style-2 .banner-text-1, .style-2 .banner-text-2{
        padding-right: 0px;
    }
    .style-2 .banner-subject-image{
        right: -470px;
    }
}

@media(max-width: 992px){
    .banner-block.style-2{
        padding-bottom: 295px;
    }
    .style-2 .banner-subject-image{
        width: 1500px;
        right: -370px;
        bottom: -415px;
    }
}


@media(max-width: 768px){
    .style-2 .banner-text-image br{
        display: none;
    }

    .style-2 .banner-subject-image{
        display: none;

        /* width: auto;
        height: 295%;
        right: -450px;
        bottom: -530px; */
    }

    .banner-block.style-2{
        padding-bottom: 25px;
    }

    .style-2 .banner-content-container:after{
        height: 700px;
    }
}


@media(max-width: 576px){
    .style-2 .banner-content-container:after{
        height: 370%;
        right: -350%;
    }

    .style-2 .banner-text-2{
        margin-bottom: 10px;
    }

    .style-2 .banner-text-image{
        background-position: center;
    }

    .style-2 .banner-subject-image{
        width: auto;
        height: 371%;
        right: -411px;
        bottom: -500px;
    }
}

@media(max-width: 480px){
    .banner-block.style-2{
        padding-bottom: 350px;
    }

    .style-2 .banner-text-1{
        font-size: 22px;
    }

    .style-2 .banner-text-2{
        font-size: 45px;
        line-height: 45px;
    }

    .style-2 .banner-subject-image{
        bottom: -480px;
    }
}

/* --- Style 3 */

.banner-block.style-3{
    background-size: cover;
    background-position: left;
    overflow: hidden;
}

.style-3 .banner-content-container{
    padding-top: 95px;
    padding-bottom: 380px;
    font-weight: lighter;
    position: relative;
}

.style-3 .banner-text-1{
    width: fit-content;
    text-align: right;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
    color: var(--wp--preset--color--primary-dark);
}

.style-3 .banner-text-2{
    font-size: 62px;
    line-height: 55px;
    margin-bottom: 160px;
}

.style-3 .banner-subject-image{
    width: 1550px;
    position: absolute;
    bottom: -125px;
    left: -515px;
}

.style-3 .btn-primary{
    float: right;
}

/* -- Responsive style 3 */

@media(max-width: 992px){
    .style-3 .btn-primary{
        z-index: 1;
    }
}


@media(max-width: 768px){
    .style-3 .banner-content-container{
        padding-bottom: 660px;
    }

    .style-3 .banner-text-2{
        margin-bottom: 10px;
    }

    .style-3 .btn-primary{
        float: left;
    }
}

/* --- Style 4 */

.banner-block.style-4{
    background-color: #e8e8e8;
    padding-top: 200px;
    padding-bottom: 400px;
    background-size: cover;
	background-attachment: fixed;
    background-position: center;
}

.banner-block.style-4::before{
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px) brightness(85%);
    -webkit-backdrop-filter: blur(5px);
}

.style-4 .banner-content{
    position: relative;
}

.style-4 .banner-text-image{
    background-position-y: 40%;
    background-position-x: 100%;
    background-size: 110%;
}

.style-4 .banner-text-1{
    font-family: 'Granville';
    font-size: 65px;
    font-weight: lighter;
    line-height: 60px;
    text-transform: uppercase;
}

.style-4 .banner-text-image{
    width: 100%;
}

.style-4 .banner-text-image .banner-text-image-2{
    margin-left: 377px;
}

.style-4 .banner-text-image .banner-text-image-and{
    color: white;
    -webkit-text-fill-color: white;
    font-family: 'Granville';
    font-size: 14rem;
    font-weight: 100;
    line-height: 11rem;
    position: absolute;
    margin-left: 255px;
}

.style-4 .btn{
    position: absolute;
    bottom: -85px;
    left: 15px;
}

/* -- Responsive style 4 */

@media(max-width: 1090px){
    .style-4 .banner-text-image .banner-text-image-2{
        float: right;
        margin: 0px;
    }

    .style-4 .banner-text-image br{
        display: none;
    }

    .style-4 .banner-text-image .banner-text-image-and{
        position: static;
        font-size: inherit;
        line-height: inherit;
        margin: 0px;
    }

    .style-4 .banner-text-image{
        overflow: hidden;
    }
}

@media(max-width: 768px){
    .banner-block.style-4{
        overflow: hidden;
        padding: 200px 0px;
    }

    .style-4 .banner-text-1{
        font-size: 50px;
        line-height: 40px;
    }

    .style-4 .banner-text-image{
        font-size: 60px;
        line-height: 55px;
    }

    .style-4 .btn{
        right: 15px;
        left: auto;
        bottom: -100px;
        display: block;
        width: fit-content;
    }
}

@media(max-width: 576px){
    .style-4 .btn{
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
    }

    .style-4 .banner-text-1{
        font-size: 40px;
        line-height: 35px;
        font-weight: lighter;
    }

    .style-4 .banner-text-2{
        font-size: 60px;
        line-height: 52px;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .style-4 .banner-text-image{
        font-size: 45px;
        line-height: 40px;
    }
}

@media(max-width: 420px){
    .style-4 .banner-text-1{
        font-size: 30px;
        line-height: 30px;
        font-weight: lighter;
    }

    .style-4 .banner-text-2{
        font-size: 45px;
        line-height: 40px;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .style-4 .banner-text-image{
        font-size: 35px;
        line-height: 32px;
    }
}

/* --- Style 5 */

.banner-block.style-5{
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: 50% 15%;
    padding: 45px 0px;
    padding-bottom: 320px;
    margin-bottom: -279px;
}

.style-5 .banner-content-container{
    text-align: right;
    position: relative;
}

.style-5 .banner-text-1{
    color: var(--wp--preset--color--primary-dark);
    font-weight: lighter;
    line-height: 55px;
    font-size: 65px;
    text-transform: uppercase;
}

.style-5 .banner-text-2, .style-5 .banner-text-2-back{
    color: black;
    font-weight: bolder;
    line-height: 80px;
    font-size: 94px;
    text-transform: uppercase;
    margin-bottom: 90px;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
}

.style-5 .banner-text-2-back{
    z-index: 0;
    mix-blend-mode: normal;
    margin-bottom: -239px;
}

.style-5 .banner-subject-image{
    position: absolute;
    top: -105px;
    left: -120px;
    width: 815px;
}

/* -- Responsive style 5 */

@media(max-width: 1090px){
    .style-5 .banner-subject-image{
        width: 75%;
    }
}

@media(max-width: 992px){
    .style-5 .banner-text-1{
        text-align: left;
    }
    
    .banner-block.style-5{
        background-position: -41% 5%;
    }

    .style-5 .banner-text-2-back{
        margin-bottom: -210px;
    }

    .banner-block.style-5{
        margin-bottom: 0px;
        padding-bottom: 260px;
    }
    .style-5 .banner-subject-image{
        width: 742px;
        left: -15px;
        top: 107px;
    }

    .banner-block.style-5{
        overflow: hidden;
    }

    .style-5 .banner-text-2{
        margin-bottom: 0px;
    }

    .style-5 .banner-text-2, .style-5 .banner-text-2-back{
        font-size: 80px;
        line-height: 70px;
    }

    .style-5 .link-primary{
        z-index: 1;
        color: black;
        font-weight: bold;
        border-color: black;
    }
    .style-5 .link-primary:before{
        color: black;
        top: 4.5px;
    }

    .style-5 .link-primary:hover{
        z-index: 1;
        color: var(--wp--preset--color--primary);
        font-weight: bold;
        border-color: var(--wp--preset--color--primary);
    }
    .style-5 .link-primary:hover:before{
        color: var(--wp--preset--color--primary);
    }

    .style-5 .banner-text-2{
        margin-bottom: 5px;
    }
}


@media(max-width: 576px){
    .banner-block.style-5{
        padding-bottom: 315px;
    }

    .style-5 .banner-text-1{
        font-size: 50px;
        line-height: 40px;
        padding-top: 20px;
    }

    .style-5 .banner-subject-image{
        left: -182px;
    }

    .style-5 .banner-text-2, .style-5 .banner-text-2-back{
        font-size: 60px;
        line-height: 56px;
        margin-top: 24px;
    }

}


@media(max-width: 420px){
    .style-5 .banner-text-2, .style-5 .banner-text-2-back{
        font-size: 48px;
        line-height: 47px;
        margin-top: 43px;
    }
    
}

/* --- Style 6 */

.banner-block.style-6{
    padding-top: 1.5rem;
    padding-bottom: 920px;
    overflow: hidden;
    margin-bottom: -325px;
    background-size: cover;
}

.style-6 .banner-content-container{
    text-align: center;
    position: relative;
}

.style-6 .banner-text-1{
    font-weight: 600;
    font-family: 'Muli';
}

.style-6 .banner-text-2{
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.style-6 .btn{
    display: inline-block;
}

.style-6 .banner-subject-image{
    width: 1250px;
    position: absolute;
    top: 145px;
    right: -350px;
}

/* --- Responsive style 6 */
@media(max-width: 1090px){
    .style-6 .banner-subject-image{
        right: -35%;
    }
}

@media(max-width: 992px){
    .style-6 .banner-subject-image{        
        right: -400px;
        top: 100px;
    }
}

@media(max-width: 768px){
    .banner-block.style-6{
        padding-bottom: 800px;
    }
}