.instructor{
    margin-bottom: 2rem;
}

.instructor .instructor-image img{
    width: 85%;
    height: auto;
    margin-right: -10px;
    float: right;
}

.instructor-image::before{
    display: block;
    content: "";
    background-color: #EEE;
    height: calc(100% - 25px);
    width: calc(100% - 30px);
    position: absolute;
    right: 15px;
    bottom: 0px;
    z-index: -1;
}

.instructor-info{
    padding-top: 25px;
}

.instructor-info h4{
    text-transform: uppercase;
}

.instructor-info .instructor-functions, .instructor-info .instructor-location{
    padding-left: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    position: relative;
}

.instructor-info .instructor-functions{
    margin-bottom: 1rem;
}

.instructor-info .instructor-functions::before, .instructor-info .instructor-location::before{
    display: block;
    position: absolute;
    left: 0px;
    font-family: "Pilates-City";
    font-weight: lighter;
}

.instructor-info .instructor-functions::before{
    content: "\e900";
    top: 2px;
    font-weight: bold;
}

.instructor-info .instructor-location::before{
    content: "\e909";
    font-size: 16px;
}

/* --- Responsive */

@media(max-width: 968px){
    .instructor-info h4{
        font-size: 1.6rem;
    }
}

@media(max-width: 768px){
    .instructor-info h4{
        font-size: 2.2rem;
    }
}

@media(max-width: 562px){
    .instructor-info h4{
        font-size: 1.6rem;
    }
}